/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}
section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
}
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}
.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}
#contact {
	width: 50%;
	margin: auto;
}
#contact a {
    color: inherit;
	text-align: center;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
	cursor: pointer;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

#filters {
	text-align: center;
	margin: 20px;
	padding: 10px;
}

button {
	font-family: 'Syne';
	font-weight: 700;
	color: #1D6154;
	background-color: white;
	border: 2px solid #1D6154;
	margin: 2em 0.5em;
	padding: 6px 12px;
	text-align: center;
	border-radius: 60px;
	cursor: pointer;
}

button:hover {
	background-color : #1D6154;
	color: white;
}

li a {
	cursor: pointer;
	color: inherit;
    text-decoration: none;
}

#banner-edit-mode {
	background-color: black;
	width: 100%;
	height: 50px;
	color: white;
	text-align: center;
	font-family: Work Sans;
	font-size: 16px;
	font-weight: 400;
	display: flex;
    justify-content: center;
    align-items: center;
}

#modify {
	font-family: 'Work Sans';
	font-size: 16px;
	font-weight: 400;
}

#portfolio .title-edition {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: baseline;
}

section span {
	margin: 10px;
}

section span a {
	text-decoration: none;
	cursor: pointer;
	color: black;
	font-size: 16px;
}

/*** modal ***/

.modal {
	display: none;
	align-items: center;
	justify-content: center;
    position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
    left: 0;
    top: 0;
}

.modal h2 {
	font-family: 'Work Sans';
	color: black;
	font-weight: 400;
	font-size: 26px;
	text-align: center;
}

.content-modal {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	overflow: auto;
	background-color:rgba(255, 255, 255, 1);
	border-radius: 10px;
	width: 630px;
}

.content-modal i {
	cursor: pointer;
	margin-top: 10px;
}

.exit-modal {
    display: flex;
    justify-content: right;
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
}

.nav-modal {
    display: flex;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
}

.content-modal h2 {
	font-family: 'Work Sans';
	margin: 25px;
}

.show {
	display: flex;
}

.hide {
	display: none;
}

.tiny-gallery {
	width: 80%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-column-gap: 10px;
	grid-row-gap: 20px;
	padding-bottom: 50px;
	border-bottom: solid 1px gray;
}

.tiny-gallery img {
	width: 100%;
}

.tiny-gallery figure {
    position: relative;
    display: inline-block;
}

.tiny-gallery img {
    display: block;
}

.tiny-gallery i {
    position: absolute;
    top: 7px;
    right: 7px;
    color: white;
    background-color: black;
    border-radius: 10%;
    padding: 5px; 
}

/** Modale2 **/

.form-add {
	width: 420px;
	display: flex;
	flex-direction: column;
	justify-items: center;
	align-items: center;
}

.content-modal2 {
	padding-bottom: 25px;
	border-bottom: solid 1px gray;
}

.file-content {
	width: 420px;
	height: 169px;
	border-radius: 3px;
	background-color:#E8F1F6 ;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.add-img {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#imagePreview {
	display: none;
}

#previewImage  {
	max-width: 100%;
	max-height: 169px;
}


.add-img input {
	display: none;
}

.add-img span {
	margin: 10px 0;
}

.fa-image {
    justify-content: center;
    align-content: center;
    height: 76px;
    color: #CBD6DC;
    font-size: 60px;
}

.btn-add-img {
    cursor: pointer;
    height: 30px;
    width: 170px;
    padding-top: 15px;
    border: none;
    border-radius: 50px;
    background: #CBD6DC;
    color: rgba(48, 102, 133, 1);
    text-align: center;
}

.content-modal form #createWork {
	display: flex;
	flex-direction: column;
	justify-items: center;
	align-items: center;
	width: 176px;
}

.form-title, .form-category {
	margin-bottom: 20px;
}

.content-modal form p {
	font-weight: bold;
	margin: 15px 0px;
}

.content-modal input {
	width: 100%;
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

.content-modal .form-category select {
	width: 100%;
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}